
.main1{
    background-image:url( "https://img.freepik.com/free-photo/blue-abstract-gradient-wave-wallpaper_53876-108364.jpg?size=626&ext=jpg&ga=GA1.2.1011732404.1676991472&semt=ais");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:100vw 81vh;
    display:grid;
    grid-template-rows:auto ;
    gap:21px;
    margin-top: 61px;
}
.main2{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: +1;
}
.backtop{
     text-decoration: none;
    width: 100vw;
    background-color: rgb(95, 73, 73);
    color: bisque;
    margin-top: 0px;
   
}
