 
.buybutton{
    display:flex;
    justify-content: center;
   
  }
  .main2{
    position: fixed;
    width:100%;
    left: 0px;
    top: 0px;
    z-index: +1;
    
}
.detailcontent{
   /* margin-left: 2rem; */
  text-align: center;
  margin-top: 11rem;
}
.myimg{
  width:51vw;
  height: 100vh;
}
@media only screen and(max-width:700px){
  .myimg{
    width:21vw;
  }
}