.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    max-width: 300px;
    height:51vh;
    border-radius: 25px;
    margin: auto;
    /* margin-left:11px; */
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .imgstyle{
     border-radius: 21px;
    width:19vw;
    height:25vh;
    
  }
  @media only screen and (max-width:700px){
    .imgstyle{

      width:51vw;
      height:21vh;
      
    }
  }