
.container{
    display:grid;
    grid-template-columns: auto auto ;
    gap:10px;
}

.maincontainer{
    display:grid;
    grid-template-columns: auto auto auto ;
    gap:10px;
    margin-top: 11px;
    margin-bottom: 21px;
    cursor:pointer;
}
.mycard1{
    background-color: lightseagreen;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
display:flex;
flex-direction: column;
width: 21vw;
height: max(45vh);


}
/* .mycard:hover{
    box-shadow: 0 122px 122px 0 rgba(212, 225, 31, 0.2);
    
    
    } */
.myimg{
    width: 21vw;
    height: 41vh;
    margin-bottom: 0px;
    /* z-index:-1; */
    /* position: absolute; */
    
}

.mybutton{
    background-color: rgb(248, 249, 244);
   /* margin-top:17.5rem; */
   margin-left:7.5rem;
   border-radius: 5px;
   cursor:pointer;
}
.addver{
    display: flex;
    flex-direction: column;
}
.addverimg{
    width:31vw;
    height: 100vh;
}
@media only screen and (max-width:700px){
    .container{
        display:flex;
        flex-direction: column;
       
    }
    .maincontainer{
        display:grid;
        grid-template-columns: 100vw;
      
    }
    .mycard1{
    
    width: 100vw;
   
    
    
    }
    .myimg{
        width: 100vw;
        height: 41vh;
        margin-bottom: 0px;
        
        
    }

    .mybutton{
     
      
       margin-left:9rem;
       
    }
    .addverimg{
        width:91vw;
        height: 51vh;
    }

}